:root{
  --orange--color: #FF8355;
  --white--color:#F5E4D8;
  --black--color:#382B28;
  --space:10px;  /* Espaciado */
  --normal:15px; /* Tipografía */
  --box: 0px 0 2px 1px #e6e5e9;   /* Box Shadow */
}
html,body{
padding:var(--space);
margin:0;
font-size: var(--normal);
font-family: 'Open Sans', sans-serif;
}
h2{
  padding: 10px;
  font-weight: normal;
}
h3{
  color: var(--black--color);
  padding-top: 5%;
}

nav{
  display: flex;
  background-color: var(--orange--color) ;
  padding: var(--space);
  color: var(--white--color);
  justify-content: space-between;
  align-items: center;
}

footer{
  padding: 10px;
  background-color: #382B28 ;
  color: var(--white--color);
  text-align: center;
  justify-content: space-between;

}


.main_section{
  padding: 5%;
  text-align: center;
}
.img_content{
  text-align: center;
  padding: 10px;
}
.cartas{
  text-align: center;
  display: flex;
  padding-left:  20%;
  padding-top: -20%;
}
.hilos{
  text-align: center;
}
