:root {
  --orange--color: #ff8355;
  --white--color: #f5e4d8;
  --black--color: #382b28;
  --normal: 15px; /* Tipografía */
  --box: 0px 0 2px 1px #e6e5e9; /* Box Shadow */
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

.wrapper {
  margin: 0 auto;
  float: none;
  background-color: #fff;
}

h2 {
  padding: 10px;
  font-weight: normal;
}
h3 {
  color: var(--black--color);
  padding-top: 5%;
}

.img_content img {
  height: auto;
  width: auto;
  width: 100%;
  max-width: 209px;
}

.nav-container {
  display: flex;
  flex-flow: row wrap;
}
.nav {
  background-color: var(--orange--color);
  padding: 15px;
  color: var(--white--color);
  flex: 0 0 100%;
  margin: 5px;
}

.footer-container {
  display: flex;
  flex-flow: row wrap;
}
.footer {
  padding: 10px;
  background-color: #382b28;
  color: var(--white--color);
  text-align: center;
  flex-shrink: 0;
  flex: 0 0 100%;
  margin: 5px;
}

.main_section {
  padding: 5%;
  text-align: center;
}
.cartas {
  margin: 0 auto;
  width: 97%;
  max-width: 1200px;
  float: none;
}

.hilos {
  display: flex;
  flex-flow: row wrap;
  flex: 0 1 auto;
}

.img_content {
  flex: 0 0 98%;
  margin: 0 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px auto;
}

/* Mobile Landscape Screen Sizes */
@media only screen and (min-width: 480px) {
  .img_content {
    flex: 0 0 46%;
  }
}

/* Desktop screen Sizes */
@media only screen and (min-width: 768px) {
  .img_content {
    flex: 0 0 21%;
  }
}
